# Data Science Tools and Ecosystem

## Author
Muhammad Zeeshan

## In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List common used libraries used by Data Scientists
- Tabulate data science tools
- Evaluate arithmetic expressions

## Some of the popular languages that Data Scientists use are:
### 1. Python.
### 2. R.
### 3. SQL.

## Some of the commonly used libraries used by Data Scientists include:
### 1. Pandas.
### 2. Matplotlib.
### 3. Numpy.
### 4. Scikit-learn.
### 5. Seaborn.
### 6. keras.
### 7. Tensorflow

| Data Science Tools |
| ---------------- |
| Jupyter Notebook |
| RStudio |
| VS Code |

### Below are a few examples of evaluating arithmetic expressions in Python

In [8]:
# This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [10]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335